@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #24252A;
    border-bottom: 15px, solid, red;
}

li, a, button {
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    border-radius: 25px;
    margin-left: 2rem;

}

.navlinks {
    list-style: none;
    margin:auto;
}

.navlinks li {
    display: inline-block;
   
}

li {
    padding: 0 30px;
    margin-top: 3rem;
    
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    
}

button:hover {
    background-color: rgb(212, 219, 221);
}

.logo:hover {
    background-color: rgb(212, 219, 221);
}

h1 {
    text-align: left;
    margin-top: 3rem;
    color:rgb(253, 255, 254)
}

h2 { margin-top: 3rem;
    text-align:center;
    margin-right: 5rem;
    color:rgb(212, 219, 221)
}

.pme {
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 50px;
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.homelist {
    list-style:none;
    margin: auto;
    text-align:right;
}

.bottomH {
    width: 100%;
    height: 15px;
    background-color: #0088a9;
}

.gtext {
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
color: rgb(255, 255, 255);
text-align: center;
margin-top: 2rem;
}